.nav-top {
    padding: 10px 30px;
    padding-bottom: 0px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
    .menu {
        .menu-item {
            font-size: 14px;
            color: rgb(113, 113, 113);
            &.active {
                border-bottom: 3px solid rgb(255, 56, 92);
                line-height: 53px;
                font-weight: bold;
                color: black;
            }
        }
    }
}
.header-top {
    padding: 10px 30px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
    .filter-handler {
        cursor: pointer;
    }
    .main-filters  {
        select {
            background-color: #F3F3F2;
            border: 0px;
            width: 250px;
            padding: 10px;
            border-radius: 10px;
        }
        .date-filter {
            background-color: #F3F3F2;
            border: 0px;
            padding: 10px;
            border-radius: 10px;
        }
        .date-filter , select {
            height: 50px;
        }
        .number-of-guest-input {
            background-color: #F3F3F2;
            padding: 10px;
            border-radius: 10px;
            width: 190px;
            .input-group-text {
                background-color: white;
                color: rgb(255, 56, 92);
                border-radius: 10px;
            }
            input.form-control {
                background-color: #F3F3F2;
                text-align: center;
            }
            .form-control, .input-group-text {
                border: none;
                height: 30px;
            }
  
        }
    }
}
.icon-box {
    background: #F3F3F2;
    border-radius: 10px;
    height: 50px;
    width: 48px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.main-content {
    .sidemenu {
        min-height: 87vh;
        padding: 0px;
        border-right: 1px solid rgba(17, 17, 17, 0.1);
        // transition: 1s;
        .menu-item {
            display: flex;
            justify-content: flex-start;
            padding-left: 60px;
            font-size: 20px;
            margin: 20px 0px;
            line-height: 30px;
            cursor: pointer;
            // height: 40px;
            .label-text {
                width: 200px;
            }
            .icon {
                line-height: 40px;
            }
            .label {
               visibility: hidden;
                font-size: 15px;
            }
            &.active {
                border-right: 3px solid rgb(255, 56, 92);
            }
            &:hover {
                background-color: #F3F3F2;
            }
        }
        &:hover ~ .home-container {
            width: 83.33333333%;
        }
        &:hover {
            .menu-item .label {
                visibility: visible;
            }
            width: 16.66666667%;
            transition: 1s;
        }
     
    }
    .home-container {
        padding: 0px;
        .home-item-card {
            border-radius: 20px;
            border-color: rgba(17, 17, 17, 0.1);
            cursor: pointer;
            height: 420px;
            &:hover {
                box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
            }
            img {
                border-radius: 20px 20px 0px 0px;
            }
            .favourite-container {
                position: absolute;
                right: 10px;
                top: 10px;
                .box {
                    padding: 8px 12px;
                    background-color: white;
                    border-radius: 50%;
                    &:hover {
                        background-color: black;
                        color: white; 
                    }
                }
                // font-size: 30px;
                // color: black;
            }
        }
    }
}